In [62]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
% matplotlib inline

In [63]:
df = pd.read_csv('C:/Users/ssn/Desktop/Capstone Project/train_upvotes.csv')

In [64]:
df_test = pd.read_csv('C:/Users/ssn/Desktop/Capstone Project/test_upvotes.csv')

In [65]:
df.head()

       ID Tag  Reputation  Answers  Username    Views  Upvotes
0   52664   a      3942.0      2.0    155623   7855.0     42.0
1  327662   a     26046.0     12.0     21781  55801.0   1175.0
2  468453   c      1358.0      4.0     56177   8067.0     60.0
3   96996   a       264.0      3.0    168793  27064.0      9.0
4  131465   c      4271.0      4.0    112223  13986.0     83.0

In [66]:
df_test.head()

       ID Tag  Reputation  Answers  Username    Views
0  366953   a      5645.0      3.0     50652  33200.0
1   71864   c     24511.0      6.0     37685   2730.0
2  141692   i       927.0      1.0    135293  21167.0
3  316833   i        21.0      6.0    166998  18528.0
4  440445   i      4475.0     10.0     53504  57240.0

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330045 entries, 0 to 330044
Data columns (total 7 columns):
ID            330045 non-null int64
Tag           330045 non-null object
Reputation    330045 non-null float64
Answers       330045 non-null float64
Username      330045 non-null int64
Views         330045 non-null float64
Upvotes       330045 non-null float64
dtypes: float64(4), int64(2), object(1)
memory usage: 17.6+ MB

In [68]:
df.isnull().sum()

ID            0
Tag           0
Reputation    0
Answers       0
Username      0
Views         0
Upvotes       0
dtype: int64

In [71]:
df =df.drop(['ID','Username'], axis=1)

In [72]:
df.head()

  Tag  Reputation  Answers    Views  Upvotes
0   a      3942.0      2.0   7855.0     42.0
1   a     26046.0     12.0  55801.0   1175.0
2   c      1358.0      4.0   8067.0     60.0
3   a       264.0      3.0  27064.0      9.0
4   c      4271.0      4.0  13986.0     83.0

In [73]:
df = pd.get_dummies(df,columns= ['Tag'])

In [74]:
df.head()

,Reputation,Answers,Views,Upvotes,Tag_a,Tag_c,Tag_h,Tag_i,Tag_j,Tag_o,Tag_p,Tag_r,Tag_s,Tag_x
0,3942.0,2.0,7855.0,42.0,1,0,0,0,0,0,0,0,0,0
1,26046.0,12.0,55801.0,1175.0,1,0,0,0,0,0,0,0,0,0
2,1358.0,4.0,8067.0,60.0,0,1,0,0,0,0,0,0,0,0
3,264.0,3.0,27064.0,9.0,1,0,0,0,0,0,0,0,0,0
4,4271.0,4.0,13986.0,83.0,0,1,0,0,0,0,0,0,0,0

In [77]:
def vif_cal(input_data, dependent_col):
    import statsmodels.formula.api as sm
    x_vars = input_data.drop([dependent_col],axis=1)
    xvar_names = x_vars.columns
    for i in range(0,len(xvar_names)):
        y = x_vars[xvar_names[i]]
        x = x_vars[xvar_names.drop(xvar_names[i])]
        rsq = sm.ols("y~x",x_vars).fit().rsquared
        vif = round(1/(1-rsq),2)
        print(xvar_names[i], "VIF: ", vif)
        
vif_cal(df,'Upvotes')

Reputation VIF:  1.01
Answers VIF:  1.35
Views VIF:  1.34
Tag_a VIF:  5.03
Tag_c VIF:  8.91
Tag_h VIF:  3.71
Tag_i VIF:  5.1
Tag_j VIF:  8.9
Tag_o VIF:  2.95
Tag_p VIF:  6.28
Tag_r VIF:  2.68
Tag_s VIF:  4.04

In [76]:
df =df.drop('Tag_x', axis=1)

In [78]:
X =df.drop(['Upvotes'],1)

In [79]:
y= df['Upvotes']

In [80]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=123)

In [81]:
from sklearn.preprocessing import StandardScaler

In [82]:
sc =StandardScaler()

In [83]:
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [84]:
from sklearn.linear_model import LinearRegression
Regressor = LinearRegression()

In [85]:
Regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [88]:
y_pred = Regressor.predict(X_test)

In [93]:
from sklearn.metrics import mean_squared_error
import math

In [94]:
rmse = math.sqrt(mean_squared_error
                (y_pred,y_test))

In [95]:
rmse

2981.8268333398096

In [96]:
from sklearn.metrics import r2_score

In [98]:
r2_score(y_test,y_pred)

0.29812892233991484

In [105]:
from sklearn.tree import DecisionTreeRegressor

In [106]:
dtree = DecisionTreeRegressor()

In [107]:
dtree.fit(X_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [108]:
y_pred = dtree.predict(X_test)

In [111]:
from sklearn.metrics import r2_score,mean_squared_error

In [110]:
r2_score(y_test,y_pred)

0.83115710139431409

In [112]:
rmse = math.sqrt(mean_squared_error
                (y_pred,y_test))

In [113]:
rmse

1462.4975424224165

In [116]:
from sklearn.ensemble import RandomForestRegressor
Rand = RandomForestRegressor()

In [117]:
Rand.fit(X_train,y_train)

C:\Users\ssn\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [118]:
y_pred = Rand.predict(X_test)

In [119]:
from sklearn.metrics import r2_score,mean_squared_error

In [120]:
r2_score(y_test,y_pred)

0.85487111066220112

In [122]:
rmse = math.sqrt(mean_squared_error
                (y_pred,y_test))
rmse

1355.9094299947985

In [123]:
df_test.head()

       ID Tag  Reputation  Answers  Username    Views
0  366953   a      5645.0      3.0     50652  33200.0
1   71864   c     24511.0      6.0     37685   2730.0
2  141692   i       927.0      1.0    135293  21167.0
3  316833   i        21.0      6.0    166998  18528.0
4  440445   i      4475.0     10.0     53504  57240.0

In [124]:
df_test.isnull().sum()

ID            0
Tag           0
Reputation    0
Answers       0
Username      0
Views         0
dtype: int64

In [125]:
df_test =df_test.drop(['ID','Username'], axis=1)

In [126]:
df_test.head()

  Tag  Reputation  Answers    Views
0   a      5645.0      3.0  33200.0
1   c     24511.0      6.0   2730.0
2   i       927.0      1.0  21167.0
3   i        21.0      6.0  18528.0
4   i      4475.0     10.0  57240.0

In [127]:
df_test = pd.get_dummies(df_test,columns= ['Tag'])

In [128]:
df_test.head()

,Reputation,Answers,Views,Tag_a,Tag_c,Tag_h,Tag_i,Tag_j,Tag_o,Tag_p,Tag_r,Tag_s,Tag_x
0,5645.0,3.0,33200.0,1,0,0,0,0,0,0,0,0,0
1,24511.0,6.0,2730.0,0,1,0,0,0,0,0,0,0,0
2,927.0,1.0,21167.0,0,0,0,1,0,0,0,0,0,0
3,21.0,6.0,18528.0,0,0,0,1,0,0,0,0,0,0
4,4475.0,10.0,57240.0,0,0,0,1,0,0,0,0,0,0

In [132]:
def vif_cal(input_data):
    import statsmodels.formula.api as sm
    x_vars = input_data
    xvar_names = x_vars.columns
    for i in range(0,len(xvar_names)):
        y = x_vars[xvar_names[i]]
        x = x_vars[xvar_names.drop(xvar_names[i])]
        rsq = sm.ols("y~x",x_vars).fit().rsquared
        vif = round(1/(1-rsq),2)
        print(xvar_names[i], "VIF: ", vif)
        
vif_cal(df_test)

Reputation VIF:  1.01
Answers VIF:  1.39
Views VIF:  1.38
Tag_a VIF:  5.01
Tag_c VIF:  8.85
Tag_h VIF:  3.69
Tag_i VIF:  5.15
Tag_j VIF:  8.87
Tag_o VIF:  2.97
Tag_p VIF:  6.3
Tag_r VIF:  2.67
Tag_s VIF:  4.06

In [131]:
df_test =df_test.drop(['Tag_x'], axis=1)

In [135]:
y_pred = Rand.predict(df_test)
df1=df_test.values

In [141]:
df_test = pd.merge(df1, y_pred)

ValueError: can not merge DataFrame with instance of type <class 'numpy.ndarray'>

In [144]:
y_pred = pd.DataFrame(y_pred)
y_pred.head()

          0
0  483128.0
1  501568.5
2  483128.0
3  511605.9
4  524734.2

In [150]:
df_test = pd.concat([df_test, y_pred,], axis=1)